<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %> 
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <header class="main-header">
		<% include partials/header %>         
      </header>
      <!-- Left side column. contains the logo and sidebar -->
	  <% include partials/sidebar %>       
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
		<section class="content-header">
			<h1>
				<%= page %>
				<small>Control panel</small>
			</h1>
			<ol class="breadcrumb">
				<li>
					<a href="/admin"><i class="fa fa-dashboard"></i>Dashboard</a>
				</li>
				<li class="active"><%= page %></li>
			</ol>
		</section>
        <!-- Main content -->
        <section class="content">
			<div id="content">
				<div class="container">
					<h3 class=" text-center">Messaging</h3>
					<div class="messaging">
						<div class="mesgs">
							<div class="msg_history">
								<%
									if(supportChat_list != '')
									{
										var j = 0;
										for(var i=0; i < supportChat_list.length; i++)
										{
											if(supportChat_list[i].to_id == 0)
											{
												%>
													<div class="incoming_msg">
														<div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
														<div class="received_msg">
															<div class="received_withd_msg">
																 
																<p>
																	<%= supportChat_list[i].message %>
																</p>
																<span class="time_date"> <%= supportChat_list[i].created_date %></span>
															</div>
														</div>
													</div>
												<%
											}
											else
											{
												%>
													<div class="outgoing_msg">
														<div class="sent_msg">																														
															<p>
																<%= supportChat_list[i].message %>
															</p>
															<span class="time_date"> <%= supportChat_list[i].created_date %></span> 
														</div>
													</div>
												<%
											}
											j++;
										}
									}
									else
									{
										%>
											No record found
										<%
									}
								%>
							</div>
							<%
								if(supportChat_list[0].status == 0)
								{
									%>
										<div class="type_msg">
											<div class="input_msg_write">
												<form action="/admin/supportReply" method="post">
													<input type="text" required name="message" class="write_msg" placeholder="Type a message" />
													<input type="hidden" name="ticket" class="hidden" value="<%= supportChat_list[0].ticket %>" />
													<input type="hidden" name="to_id" class="hidden" value="<%= supportChat_list[0].to_id %>" />
													<button class="msg_send_btn" type="submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
													<p></p><p></p>										
													<a href="/admin/ticketClose?t=<%= supportChat_list[0].ticket %>" class="btn btn-success btn-lg col-md-12" type="submit">Ticket Close</a>																							
												</form>
											</div>
										</div>
									<%
								}
							%>
						</div>
					</div>
				</div>
			</div>
		</section>
      </div><!-- /.content-wrapper -->
      <% include partials/footer %> 
      <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->
    <% include partials/script %> 	
  </body>
</html>
